	*{
	margin:0;
	padding:0px;
	}
	body{
	width: 100%;
	height: 100%;
	}
	.box{
	background-size:100%;
	background-image:url('../images/16.jpg');
	background-repeat:no-repeat;
	background-position:center;
	overflow:hidden;
	}
	li{
	list-style:none;
	}
	.left{
	width:20%;
	height:100%;
	float:left;

	}
	.mid{
	width:60%;
	height:100%;
	float:left;
	position: relative;
	transform-style: presever-3d;
	}
	.mid_top{
	width:100%;
	height:25%;
	position:relative;
	float:left;
	/*background:red;*/
	}
	.mid_end{
	width:100%;
	height:25%;
	float:left;
	}
	.right{
	width:20%;
	height:100%;
	float:right;
	}
	.all_poker{
	width:14%;
	height:100%;
	position:absolute;
	transform-style: presever-3d;
	left:44%;
	top:40px;
	}
	.all_poker li{
	/*background-size:100%;*/
	position:absolute;
	border-radius:5px;
	/*background:url('./images/14.png') no-repeat ;*/

	}
	.temp_poker{
	width:125px;
	height:175px;
	margin:100px auto 0px;
	position:relative;
	}
	.back{
	width:125px;
	height:175px;
	background:url('../images/14.png') -87px -225px;
	z-index:100;;
	}
	.play_1,  .play_3{
	width:125px;
	height:175px;
	margin:-80px auto 0px;
	position:relative;
	}
	.play_2{
	width:125px;
	height:175px;
	margin:-10px auto 0px;
	position:relative;
	top:20px;
	}
	.play_1 li, .play_2 li, .play_3 li{
	position:absolute;
	border-radius:5px;
	}
	.play_btn, .play_btn2{
	display:none;
	text-align:center;
	}
	.play_2 .select {
	top:-30px;
	}
	.play_1 .select {
	left:30px;
	}
	.play_3 .select {
	left:-30px;
	}
	.time{
	width:74px;
	height:71px;
	line-height:74px;
	display:none;
	/*background:red;*/
	/*margin:0 auto;*/
	text-align:center;
	position: absolute;
	}
	.mid_center {
	width: 100%;
	height: 50%;
	position: relative;
	float:left;
	/*background: #fff;*/
	/*border: 1px solid palegoldenrod;*/	
	}

	.mid_center #riffle{
	width: 8%;
	height:8%;
	position: absolute;
	left: 50%;
	top:85px;
	border-radius: 30px;
	background: orange;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	outline: none;
	cursor:pointer;
	z-index:100;
	margin-left:-4%;
	/*display: none;*/
	/*background: url('./images/poker_img/14.png')no-repeat -38px -15px;*/
	}
	.mid_center #riffle:hover{
	box-shadow: 1px 2px 15px #ccc;
	}
	.mid_center #deal{
	width: 8%;
	height:8%;
	position: absolute;
	left: 50%;
	top:85px;
	border-radius: 30px;
	background: orange;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	display: none;
	outline: none;
	cursor:pointer;
	z-index:100;
	margin-left:-4%;
	}
	.mid_center #deal:hover{
	box-shadow: 1px 2px 15px #ccc;
	}
.desktop {/*----------------------------------------------------*/
	width: 125px;
	height: 175px;
	position: relative;
	margin: 110px auto;
	/*background: #ccc;*/
}
.desktop li {
	position: absolute;
}
.left, .mid, .right{
	position: relative;
	/*border: 1px solid red;*/
}
.left>.play_btn>.get, .left>.play_btn2>.play_out{
	width: 30%;
	height:6%;
	position: absolute;
	right: -18%;
	top: 44%;
	border-radius: 30px;
	background: orange;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	z-index: 10;
	outline: none;
	cursor:pointer;
}
.left>.play_btn>.get:hover, .left>.play_btn2>.play_out:hover{
	box-shadow: 1px 2px 15px #ccc;
}

.left>.play_btn>.cancel, .left>.play_btn2>.pass{
	width: 30%;
	height:6%;
	position: absolute;
	right: -18%;
	top: 52%;
	border-radius: 30px;
	background: orange;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	z-index: 10;
	outline: none;
	cursor:pointer;
}
.left>.play_btn>.cancel:hover, .left>.play_btn2>.pass:hover{
	box-shadow: 1px 2px 15px #ccc;
}
.left>.play_btn2>.tips{
	width: 30%;
	height:6%;
	position: absolute;
	right: -18%;
	top: 60%;
	border-radius: 30px;
	background: skyblue;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	z-index: 10;
	outline: none;
	cursor:pointer;
}
.left>.time{
	top: 33%;
	right: 	-15%;
	/*border-radius: 50%;*/
	background: url('../images/倒计时.png') 0 -58px no-repeat;
	color: #fff;
	font-size: 20px;
}
.left>.Head_portrait{
	width:100px;
	height:100px;
	/*border:1px solid red;*/
	position:absolute;
	left: 20%;
	top:5%;
}
.mid_end{
	position: relative;
}

.mid_end>.play_btn>.get, .mid_end>.play_btn2>.play_out{
	width: 10%;
	height:23%;
	position: absolute;
	left: 42%;
	top: -75px;
	border-radius: 30px;
	background: orange;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	outline: none;
	cursor:pointer;
}
.mid_end>.play_btn>.get:hover, .mid_end>.play_btn2>.play_out:hover{
	box-shadow: 1px 2px 15px #ccc;
}
.mid_end>.play_btn>.cancel, .mid_end>.play_btn2>.pass{
	width: 10%;
	height:23%;
	position: absolute;
	left: 54%;
	top: -75px;
	border-radius: 30px;
	background: orange;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	outline: none;
	cursor:pointer;
}
.mid_end>.play_btn>.cancel:hover, .mid_end>.play_btn2>.pass:hover{
	box-shadow: 1px 2px 15px #ccc;
}
.mid_end>.play_btn2>.tips{
	width: 10%;
	height:23%;
	position: absolute;
	top: -75px;
	left: 66%;
	border-radius: 30px;
	background: skyblue;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	outline: none;
	cursor:pointer;
}
.mid_end>.time{
	top: -90px;
	left: 34%;
	/*border-radius: 50%;*/
	background: url('../images/倒计时.png') 0 -58px no-repeat;
	color: #fff;
	font-size: 20px;
}
.mid_end>.Head_portrait{
	width:100px;
	height:100px;
	/*border:1px solid red;*/
	position:absolute;
	left: 5	%;
	top:10%;
}
.right>.play_btn>.get, .right>.play_btn2>.play_out{
	width: 30%;
	height:6%;
	position: absolute;
	left: -18%;
	top: 41%;
	border-radius: 30px;
	background: orange;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	outline: none;
	cursor:pointer;
}
.right>.play_btn>.get:hover, .right>.play_btn2>.play_out:hover ,.tips:hover{
	box-shadow: 1px 2px 15px #ccc;
}
.right>.play_btn>.cancel, .right>.play_btn2>.pass{
	width: 30%;
	height:6%;
	position: absolute;
	left: -18%;
	top: 49%;
	border-radius: 30px;
	background: orange;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	outline: none;
	cursor:pointer;
}
.right>.play_btn>.cancel:hover, .right>.play_btn2>.pass:hover{
	box-shadow: 1px 2px 15px #ccc;
}
.right>.play_btn2>.tips{
	width: 30%;
	height:6%;
	position: absolute;
	left: -18%;
	top: 57%;
	border-radius: 30px;
	background: skyblue;
	font-family: '黑体';
	font-size: 18px;
	color:#fff;
	outline: none;
	cursor:pointer;
}
.right>.time{
	top: 30%;
	left: -15%; 
	/*border-radius: 50%;*/
	background: url('../images/倒计时.png') 0 -58px no-repeat;
	text-transform:rotate(30deg); 
	color: #fff;
	font-size: 20px;
}
.right>.Head_portrait{
	width:100px;
	height:100px;
	/*border:1px solid red;*/
	position:absolute;
	right: 20%;
	top:5%;
}
.box_mov{
	position:absolute;
	width:100%;
	height:100%;
}
/*.Head_portrait{
	width:100px;
	height:100px;
	border:1px solid red;
	position:absolute;
	left: 20%;
	top:10%;
}*/

#btn_end{
	width: 120px;
	height: 50px;
	position: absolute;
	left: 46%;
	top: 60%;
	border-radius: 30px;
	background: orange;
	font-family: '黑体';
	font-size: 22px;
	color: #fff;
	display: none;
	outline: none;
	cursor: pointer;
}
#time{
	font-size: 16px;
	position: absolute;
	right: 30px;
	top:30px;
	color: #fff;
}
.open {
	width: 100%;
    height: 100%;
    position: absolute;
    background: url('../images/time.gif') no-repeat;
    background-size:100%; 
    z-index: 999;
    overflow: hidden;
    top: 0px;
    left: 0px;
}
.welcome{
	z-index: 99;
	position: absolute;
	top: 50%;
	left: 48%;
}
.img_top{
	width:100%;
	height:50%;
	display: none; 
	top: 0px;
}
.img_btm{
	width:100%;
	height:50%;
	display: none;
}
.win_back{
	width: 324px;
	height: 284px;
	background: url('../images/Win_back.png') no-repeat;
	position: absolute;
	top: 50%;
	left: 42%;
	z-index: 222;
	display: none;
}